# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
*.env
env/
.env.*

# Secrets and Tokens - VERY IMPORTANT
credentials.json
token_*.json
*.pem
*.key
*.json

# VS Code
.vscode/

# macOS
.DS_Store

#Jupyter Notebooks
*.ipynb
*.ipynb_checkpoints
